<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Available</title>
</head>
<body>
<h1>List Of Items</h1>
<table>
    <tr>
        <td>Name</td>
        <td>Description</td>
        <td>Price</td>
        <td>On Stock</td>

    </tr>
    <tr th:each="item : ${itemList}">
        <td th:text="${item.name}"></td>
        <td th:text="${item.description}"></td>
        <td th:text="${item.price}"></td>
        <td th:text="${item.amount}"></td>
    </tr>
    </table>
</body>
</html>