<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="UTF-8">
    <title>Asd webshop</title>

</head>

<body>

<h1>Asd webshop</h1>

    <ul><li><a href="/available" >ONLY AVAILABLE</a></li></ul>
    <ul><li><a href="/list-by-price" >CHEAPEST FIRST</a></li></ul>
    <ul><li><a href="/contains-nike" >List Of Nike Items</a></li></ul>
    <ul><li><a href="/average-stock" >AVERAGE STOCK</a></li></ul>
    <ul><li><a href="/most-expensive" >MOST EXPENSIVE AVAILABLE</a></li></ul>

<h2>Search for:</h2>

<form action="/search" method="post">

    <label for="expression"></label>
    <input type="text" id="expression" name="expression" placeholder="...something like nike">

    <button type="submit">Search</button>

</form>

    <h2 th:text="${text}"></h2>

    <table>

    <tr>

        <td>Name</td>
        <td>Description</td>
        <td>Type</td>
        <td>Price</td>
        <td>On Stock</td>

    </tr>

        <tr th:each="item : ${itemList}">
        <td th:text="${item.name}"></td>
        <td th:text="${item.description}"></td>
        <td th:text="${item.type}"></td>
        <td th:text="${item.price}"></td>
        <td th:text="${item.amount}"></td>
        </tr>

    </table>

</body>

</html>