<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Reddit</title>
</head>
<body>
<a th:href="@{/add-post-by-user(name=${})}">Submit new post</a>
<h1>Trending Posts</h1>
<table>
    <tr th:each="post : ${posts}" th:object="${post}">
        <td th:text="*{likeCounter}"></td>
        <td><a th:href="@{|/change/${post.id}/1|}">+</a></td>
        <td><a th:href="@{|/change/${post.id}/-1|}">-</a></td>
        <td><a th:href="*{url}" th:text="*{title}"></a></td>
        <td th:text="*{date}"></td>
    </tr>
</table>
<div>
    <a href="/posts">1</a>
    <a href="/post/2">2</a>
</div>
</body>
</html>